@page "{id?}"
@model dotNet_gram.Pages.Posts.IndexModel
@{
}

<div>
    <label asp-for="Post.Title"></label>
    <label asp-for="Post.Title">@Model.Post.Title</label>
</div>

<div>
    <label asp-for="Post.Caption"></label>
    <label asp-for="Post.Caption">@Model.Post.Caption</label>
</div>

<a asp-page="/Posts/Manage" asp-route-id="@Model.Post.ID">Edit</a>