@page "{id?}"
@model dotNet_gram.Pages.Posts.ManageModel
@{
    ViewData["Title"] = "Manage";
    Layout = "_Layout"; 
}


<h1>Edit Post</h1>
<br />
<form method="post">
    <label asp-for="Post.Title"></label>
    <input asp-for="Post.Title" />


    <label asp-for="Post.Caption"></label>
    <textarea rows="5" cols="30" asp-for="Post.Caption"></textarea>

    <label asp-for="Post.Username">By:</label>
    <input asp-for="Post.Username" />

    <button type="submit" class="btn btn-primary">save</button>
    <button type="submit" class="btn btn-danger" asp-page-handler="Delete">delete</button>
</form>
