@page 
@using dotNet_gram.Models.Interfaces

@inject IPost PostManager

@{ 
    //posts is equal to list of posts returned by the service
    var posts = await PostManager.GetPosts();
}

@foreach (var item in posts)
{
    <h3>@item.Title</h3>
    <p>@item.Rating</p>
    
}