@page

@using dotNet_gram.Models.Interfaces

@inject IPost PostManager

@{
    Layout = "_Layout";
}

@{
    //posts is equal to list of posts returned by the service
    var posts = await PostManager.GetPosts();
}

<div class="">
    @foreach (var item in posts)
    {
        //route has post id
    <ul>
        <li><a asp-page="/Posts/Index" asp-route-id="@item.ID">@item.Title</a></li>

        <li><p>@item.Caption</p></li>

        <li><p>By: @item.Username</p></li>
    </ul>
        <img src="https://via.placeholder.com/150" />
    }
</div>
<h4><a asp-page="/Posts/Manage">Add New Post</a></h4>