@page

@using dotNet_gram.Models.Interfaces

@inject IPost PostManager

@{
    Layout = "_Layout";
}

@{
    //posts is equal to list of posts returned by the service
    var posts = await PostManager.GetPosts();
}

@foreach (var item in posts)
{
    //route has post id
    <a asp-page="/Posts/Index" asp-route-id="@item.ID">@item.Title</a>
    <p>@item.Caption</p>
    <img src="https://via.placeholder.com/150" />
    <p>By: @item.Username</p>

}

<h3><a asp-page="/Posts/Manage">Add New Post</a></h3>