body {
    text-align: center;
    background-size: cover;
    background-color: azure;
    /*background-image: url(https://images.unsplash.com/photo-1505739998589-00fc191ce01d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);*/
    background-repeat: no-repeat;
}

.post-container {
    display: table;
    margin-left:auto;
    margin-right: auto;
    /*display: grid;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: auto auto auto auto;
    padding: 10%;*/
}

.post-item {
    text-align:center;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    float: left;
    margin: 1em;
    padding: 1em;
    
    /*border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 10%;
    font-size: 3vh;
    text-align: center;*/
}

