h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 12vh;
    color: whitesmoke;
    -webkit-text-stroke: 3px black;
}
body {
    text-align: center;
    background-size: cover;
    background-color: azure;
    background-image: url(https://images.unsplash.com/photo-1520117833983-e7b006f7c266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    *background-repeat: no-repeat;
}

.post-container {
    display: table;
    margin-left:auto;
    margin-right: auto;
    /*display: grid;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: auto auto auto auto;
    padding: 10%;*/
}

.post-item {
    text-align:center;
    display: inline-block;
    background-color: rgba(255, 255, 255);
    border: 3px solid rgba(0, 0, 0, 0.8);
    /*float: left;*/
    margin: 1em;
    padding: 1em;
    
    
    
    /*border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 10%;
    font-size: 3vh;
    text-align: center;*/
}

img {
    height: 30vh;
    width: 20vw;
}

